<nav class="navbar navbar-toggleable  navbar-inverse bg-primary py-0">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--<a class="navbar-brand" href="#">Jobs DB</a>-->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item align-middle navbar-text">
                <a class="nav-link" routerLink="">Jobs</a>
            </li>
            <li class="nav-item align-middle navbar-text">
                <a class="nav-link"  routerLink="job">Create Job</a>
            </li>
            <li class="nav-item align-middle navbar-text">
                <a class="nav-link"  routerLink="contact">Create Contact</a>
            </li>
        </ul>
        <app-search></app-search>
    </div>
 </nav>

<div class="my-4">
    <router-outlet></router-outlet>
</div>