<!--<div class="container mxy-2">-->
  <div class="row">
    <div class="col">
      <div style="text-align: right">
        <button type="button" (click)="edit()" *ngIf="!isEditable" class="btn btn-info btn-sm">Edit</button>
        <button type="button" (click)="delete()" *ngIf="!isEditable" class="btn btn-info btn-sm">Delete</button>
      </div>
    </div>
  </div>
  <!--&lt;!&ndash;<form ngSubmit="save()">&ndash;&gt;-->
    <div *ngIf="!jobId" class="row">
      <div class="col form-group">
        <small><label for="jobId" class="mb-0">Job Opportunity</label></small>
        <select class="form-control form-control-sm" [(ngModel)]="jobId" id="jobId" name="jobId" [disabled]="!isEditable">
          <option *ngFor="let job of allJobs" value="{{job.id}}">{{job.company.name}} - {{job.title}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <small><label for="person.name" class="mb-0">Name</label></small>
        <input [(ngModel)]="contactInstance.person.name" id="person.name" name="person.name" type="text"
               placeholder="Name" class="form-control form-control-sm" [disabled]="!isEditable"/>
      </div>
      <div class="col form-group">
        <small><label for="person.company" class="mb-0">Company</label></small>
        <input [(ngModel)]="contactInstance.person.company" id="person.company" name="person.company" type="text"
               placeholder="Company" class="form-control form-control-sm" [disabled]="!isEditable" />
      </div>
      <div class="col form-group">
        <small><label for="person.title" class="mb-0">Title</label></small>
        <input [(ngModel)]="contactInstance.person.title" id="person.title" name="person.title" type="text"
               placeholder="Title" class="form-control form-control-sm" [disabled]="!isEditable" />
      </div>
      <div class="col form-group">
        <small><label for="person.title" class="mb-0">Type</label></small>
        <select class="form-control form-control-sm" [(ngModel)]="contactInstance.type" id="type" name="type" [disabled]="!isEditable">
          <option>Phone</option>
          <option>Skype</option>
          <option>Email</option>
          <option>In Person</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col form-group">
        <small><label for="notes" class="mb-0">Notes</label></small>
                <textarea [(ngModel)]="contactInstance.notes" id="notes" name="notes" type="text" rows="10"
                          placeholder="Notes" class="form-control form-control-sm" [disabled]="!isEditable"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col form-group">
        <button type="submit" *ngIf="isEditable" (click)="save()" class="btn btn-primary btn-sm">Save</button>
      </div>
    </div>
  <!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</div>-->