<div class="container">
  <h2>Import Jobs</h2>
  <p>Use the fields below to specify the names of the columns in your .csv for import.</p>

  <div *ngFor="let field of fields">
    <div class="row">
      <div class="col">
        <label for="{{field}}" class="mb-0">{{field}}</label>
      </div>
      <div class="col">
        <input #input (blur)="updateFields(input.id, input.value)"  id="{{field}}" name="{{field}}" type="text" class="form-control form-control-sm" />
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col form-group">
      <div *ngIf="error" class="warn">
        {{error}}
      </div>
      <label for="fileImport">Import File</label>
      <input type="file" (change)="fileChange($event)" class="form-control-file" id="fileImport" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Only .csv files are supported at this time.</small>
    </div>
  </div>
  <button type="button" (click)="importData()" class="form-control form-control-sm mt-3">Import</button>
</div>